*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.tmp*
.ropeproject
.spyderproject
.env
*.sqlite
django-nosetests.py
testsite/static/
.spyderworkspace
.*.swp
.coverage
.ign*py
testsite/media
