<html lang="en">
{% load static %}
{% load url from future %}
{% get_static_prefix as static_prefix %}
<head>
    <title>{% block title %} 42 Coffee Cups Test Assignment {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ static_prefix }}/css/base.css">
    {% block extra_head %} {% endblock %}
</head>

<body>
    <div id="header">42 Coffee Cups Test Assignment
    {% block extra_header %}{% endblock %}
    </div>
    <div id="container">
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <hr />
        <div id="menu">
                <!-- MENU -->
            <span class="menuitem"><a href="{% url 'testsite.profiles.views.index' %}">My Profile</a></span>
            <span class="menuitem"><a href="{% url 'testsite.mylogging.views.index' %}">Requests</a></span>
            {% if user.is_staff %}
            <span class="menuitem"><a href="{% url 'admin:index' %}">Admin</a></span>
            <span class="menuitem"><a class="edit" href="{% url 'testsite.profiles.views.edit' %}">Edit</a></span>
            {% endif %}
        </div>
    </div>

</body>
</html>
