<html lang="en">
{% load static %}
{% load url from future %}
{% load mylogging_tags %}
{% get_static_prefix as static_prefix %}
<head>
    <title>{% block title %} 42 Coffee Cups Test Assignment {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ static_prefix }}css/base.css">
    {% block extra_head %} {% endblock %}
</head>

<body>
    <div id="header"> <span style="font-size: 2em;">42 Coffee Cups Test Assignment</span>
    <span class="authed_as">
    {% if user.is_authenticated %}
        Logged in as «<a href="{% edit_link user %}">{{ user }}</a>»
        (<a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a>)
    {% else %}
        <a href="{% url 'django.contrib.auth.views.login' %}?">Login</a>
    {% endif %}
    </div>
    </div>
    <div id="container">
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <hr />
        <div id="menu">
                <!-- MENU -->
            <span class="menuitem"><a href="{% url 'profiles:index' %}">My Profile</a></span>
            <span class="menuitem"><a href="{% url 'mylogging:index' %}">First Requests</a></span>
            <span class="menuitem"><a href="{% url 'admin:index' %}">Admin</a></span>
            <span class="menuitem"><a class="edit" href="{% url 'profiles:edit' %}">Edit</a></span>
            <span class="menuitem"><a class="edit" href="{% url 'mylogging:listed' %}">Sortable requests</a></span>
        </div>
    </div>

</body>
</html>
