{% extends "base.html" %}
{% load url from future %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/requlist.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/priority.js"></script>
{% endblock %}
{% block content %}
    {% if requests %}
        Sorting by {{ sortby }}
        <table class="reqs">
        <tr>
            <th width="190" >
                {% if sortby == "-date" %}
                <a href="{% url 'mylogging:listed' sortby='date' %}">-date</a></th>
                {% else %}
                <a href="{% url 'mylogging:listed' sortby='-date' %}">date</a></th>
                {% endif %}
            <th width="65">method</th>
            <th width="200">path</th>
            <th width="200">get</th>
            <th>post</th>
            <th width="70">
                {% if sortby == "-priority" %}
                <a href="{% url 'mylogging:listed' sortby='priority' %}">-priority</a></th>
                {% else %}
                <a href="{% url 'mylogging:listed' sortby='-priority' %}">priority</a></th>
                {% endif %}
        </tr>
        {% for item in requests.object_list %}
            <tr>
                <td>{{ item.date }}</td>
                <td>{{ item.method }}</td>
                <td>{{ item.path }}</td>
                <td>{{ item.get }}</td>
                <td>{{ item.post }}</td>
                <td><a id="priority-{{ item.pk }}" href="javascript:change_priority('{{ item.pk }}')" >{{ item.priority }}</a></td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No requests are available.</p>
    {% endif %}

<div class="pagination">
    <span class="step-links">
        {% if requests.has_previous %}
            <a href="?page={{ requests.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ requests.number }} of {{ requests.paginator.num_pages }}.
        </span>

        {% if requests.has_next %}
            <a href="?page={{ requests.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}