{% extends "base_profile.html" %}
{% load url from future %}
{% block extra_extra_head %}
    {{ profile.media }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ajax_form.js"></script>
{% endblock %}

{% block extra_header %}
    <div style="float: right;">
    {% if user.is_authenticated %}
        Logged in as «{{ user }}»
        (<a href="{% url 'django.contrib.auth.views.logout' %}?next={% url 'profiles.views.edit' %}">Logout</a>)
    {% else %}
        <a href="{% url 'django.contrib.auth.views.login' %}?next={% url 'profiles.views.edit' %}">Login</a>
    {% endif %}
    </div>
{% endblock %}

{% block content %}
<form method="post" action="{% url 'testsite.profiles.views.edit' %}" enctype="multipart/form-data" id="edit-profile">
    {% csrf_token %}
    <table>
    <tr><th></th><th>Contacts</th></tr>
    <tr>
        <td class="profile">
            <table>
                {% comment %} {{ profile.as_table }} {% endcomment %}
                {% for field in profile %}
                    {% if field.label != "Bio" %}
                    <tr>
                    <td align="right">{{ field.errors }}
                    {{ field.label_tag }}:</td><td> {{ field }}</td>
                    </tr>
                    {% if field.label = "Photo" and field.value %}
                    <tr><td></td><td><img src="{{ MEDIA_URL }}{{ field.value }}" width="250"></td></tr>
                    {% endif %}
                    {% endif %}
                {% endfor %}
            </table>
        </td>
        <td class="profile">
            {{ contacts.management_form }}
            <table class="subtable">
                {% for form in contacts %}
                    <tr>
                    {{ form.id }}
                    {% if form.mean.value %}
                        {{ form.mean.as_hidden }}
                        <td align="right">{{ form.mean.value }}</td><td>{{ form.data }}</td>
                        <td>Delete {{ form.DELETE }}</td>
                    {% else %}
                        <td align="right">{{ form.mean }}</td><td>{{ form.data }}</td><td></td>
                    {% endif %}
                    </tr>
                {% endfor %}
                <tr class="subtable">
                    <td align="right">{{ field.errors }}
                    {{ profile.bio.label_tag }}:</td><td> {{ profile.bio }}</td><td></td>
                </tr>
            </table>
        </td>
    </tr>
    </table>
    {% if user.is_authenticated %}
    <p><input name="save" type="submit" value="Save"> <a href="/">Cancel</a></p>
    {% endif %}
    <div id="edit-profile-message">
    {% if errors %}
        Errors in form:
        {% for error in errors %}
            {{ error }}
        {% endfor %}
    {% endif %}
    </div>
</form>
{% endblock %}