{% extends "base.html" %}
{% load url from future %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/profile.css">
{% endblock %}

{% block content %}
    {% if profile %}
    <table class="profile">
        <tr>
        <th>
        </th>
        <th>Contacts</th>
        </tr>

        <tr><td class="profile">
            <div>Name: {{ profile.name }}</div>
            <div >Last name: {{ profile.surname }}</div>
            <div>Date of Birth:
                {% if profile.birth %}
                    {{ profile.birth }}
                {% else %}
                    Not set
                {% endif %}
            </div>
            <div>Photo:<br />
                {% if profile.photo %}
                <img src="{{ profile.photo.url }}"</img></div>
                {% else %}
                NO PHOTO
                {% endif %}
        </td>
        <td  class="profile">
            {% for contact in profile.contact_set.all %}
                <div>
                {{ contact.mean }}:
                {{ contact.data }}
                </div>
            {% endfor %}
            <div>Bio: {{ profile.bio|linebreaks }} </div>
        </td>
    </tr></table>
    {% else %}
    All your base are belong to us (No profile info)
    {% endif %}
{% endblock %}
